/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import '~ngx-bar-rating/themes/br-default-theme';
@import "~font-awesome/css/font-awesome.min.css";
@import '~ngx-bar-rating/themes/br-fontawesome-theme';
@import 'variables.scss';


body{
  font-family: CambridgeRoundW01-Regular, Arial, sans-serif ;
  margin: 0; /* remove default body margin to make the toolbar fit the whole page */
}


.action-button {
  font-weight: bold;
  @extend .background-highlight-animation
}
.action-button:hover{
  color:white;
  background: $app-accent-color;
}

.toggle-button-unchecked{
  color:white;
  background: $app-accent-color;
}

.toggle-button-checked{
  color:rgb(96, 96, 96);
  background: rgba(0, 0, 0, 0.1);
}

.table-row {
  @extend .background-highlight-animation
}
.table-row:hover{
  background: #0000000a;
}


.background-highlight-animation{
  transition: background-color .2s cubic-bezier(.35,0,.25,1) , color .2s cubic-bezier(.35,0,.25,1)  ;
}

.fill-empty-space{
  flex: 1 1 auto;
}

.mat-divider{
  color: #E5E5E5;
}

.mat-icon-align-fix{
  transform: translateY(25%);
}
